
header {
  background: url(https://github.com/kenvantruong/react-real-estate/blob/master/public/img/shanghai.jpg?raw=true) no-repeat center center;
  color: white;
  overflow: auto;
  padding: 20px 15px;
  height: 470px;
  width: 100%;
  

  img {
    float: left;
    width: 33px;
    height: 33px;
    
  }

  nav {
    float: right;
    padding-top: 10px;
    
    a {
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 300;
      font-size: 1rem;

      &:hover {
        // color: $pink;
        border-bottom: 1px solid #fff;
          border-bottom-width: 1px;

      }
      &.register-btn {
        // background: $pink;
        padding: 7px 25px;
        text-align: center;
        color: white;
        // border-radius: 5px;
        &:hover {
          // color: $pink;
          
        }
      }
    }
  }

  .divOfH1 {
    position: relative;
    top: 22px;
    width: 100%;
    color: #ffffff !important;
    font-weight: 300 !important;
    text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4) !important;
    height: 65vh;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    

    .headerOne {
      font-weight: 800;
      text-transform: uppercase;
      // font-size: 28px;
      font-size: 2.2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      cursor: pointer;
    }

  }
}