
header {
  background: url(https://a0.muscache.com/4ea/air/v2/pictures/b1668819-2a2c-43f7-b374-9a92d3738a33.jpg?t=c:w3-h2-go,r:w1440-h960,e:fjpg-c80) no-repeat center center;
  color: white;
  overflow: auto;
  padding: 20px 15px;
  height: 400px;

  .logo {
    float: left;
  }

  nav {
    float: right;

    a {
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 300;
      font-size: .9rem;

      &:hover {
        color: $pink;
      }
      &.register-btn {
        background: $pink;
        padding: 7px 25px;
        text-algin: center;
        color: white;
        border-radius: 5px;
      }
    }
  }
}