// -------------------
// $darkpurple: #0C002B;
$darkpurple: #1f2c34;
$grey: #FAF7F5;
$offwhite: #fff;
// $offwhite: #FFFEFF;
// $pink: #FF718E;
$pink: #fc5c63;
$darkgrey: #828d9d;
$lightgrey: #DAE2EF;

// -------------------

